<div class="card flex-fill">
  <img class="card-img-top" src="<%= flat.picture_url || 'https://source.unsplash.com/random' %>" alt="Card image cap">
  <div class="card-body bg-light">
    <h5 class="card-title"><%= flat.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
    <div class="d-flex">
      <div class="d-flex">
        <i class="material-icons">people</i>
        <span><%= flat.number_of_guests %></span>
      </div>
      <div class="d-flex ml-3">
        <i class="material-icons">attach_money</i>
        <span><%= flat.price_per_night %></span>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "More info", flat_path(flat), class: "card-link" %>
    <%= link_to "Edit", edit_flat_path(flat), class: "card-link text-warning" %>
    <%= link_to "Remove", flat_path(flat), method: 'delete', data: { confirm: "Are you sure?" }, class: "card-link text-danger" %>
  </div>
</div>
