<div class="row">
  <div class="col-6 m-auto">
    <div class="card">
      <div class="card-body">
        <h1><%= title %></h1>
        <%= simple_form_for flat do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :description %>
          <%= f.input :price_per_night %>
          <%= f.input :number_of_guests %>
          <%= f.button :submit, class: "btn btn-primary" %>
          <%= link_to "Cancel", new_flat_path, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
