<div class="row">
  <div class="col-6 m-auto">
    <div class="card">
      <div class="card-body">
        <h1><%= title %></h1>
        <%= simple_form_for flat do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :description %>
          <%= f.input :picture_url %>
          <%= f.input :price_per_night %>
          <%= f.input :number_of_guests %>
          <%= f.button :submit, class: "btn btn-primary" %>
          <%= link_to "Back", :back, class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
