<h1>All our Flats</h1>
<% if params[:query] && !params[:query].empty? %>
  <p>You searched for <strong><%= params[:query] %></strong>. We found <%= @flats.count %> out of our <%= @total_flat_count %> on our website.</p>
  <%= link_to("Back", root_path, class: "btn btn-primary") if @flats.count.zero? %>
<% else %>
  <p>All <%= @flats.count %> flats.</p>
<% end %>

<div class="container-fluid pl-0">
  <div class="cards">
    <%= render @flats %>
  </div>
</div>
